@page "/salas/delete/{IdSala:int}"
@using WebCinemax.Models
@using WebCinemax.Services
@inject SalaService SalaService
@inject NavigationManager NavigationManager

<PageTitle>Eliminar Sala</PageTitle>

<h1>Eliminar Sala</h1>

@if (Sala is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="alert alert-warning">
        <p>¿Seguro que deseas eliminar esta sala?</p>
    </div>

    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Sala.Nombre</dd>

        <dt class="col-sm-2">Capacidad</dt>
        <dd class="col-sm-10">@Sala.Capacidad</dd>
    </dl>

    <button class="btn btn-danger" @onclick="EliminarSala">Eliminar</button>
    <a href="/salas" class="btn btn-secondary ms-2">Cancelar</a>
}

@code {
    [Parameter]
    public int IdSala { get; set; }

    private Sala? Sala { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Sala = await SalaService.GetByIdAsync(IdSala);
        if (Sala is null)
            NavigationManager.NavigateTo("notfound");
    }

    private async Task EliminarSala()
    {
        if (Sala is not null)
        {
            await SalaService.DeleteAsync(Sala.IdSala);
            NavigationManager.NavigateTo("/salas");
        }
    }
}