@page "/salas/edit/{IdSala:int}"
@using WebCinemax.Models
@using WebCinemax.Services
@inject SalaService SalaService
@inject NavigationManager NavigationManager

<PageTitle>Editar Sala</PageTitle>

<h1>Editar Sala</h1>

<hr />
@if (Sala is null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Sala" OnValidSubmit="ActualizarSala">
                <DataAnnotationsValidator />
                <ValidationSummary role="alert" />

                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <InputText id="nombre" @bind-Value="Sala.Nombre" class="form-control" />
                    <ValidationMessage For="() => Sala.Nombre" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="capacidad" class="form-label">Capacidad:</label>
                    <InputNumber id="capacidad" @bind-Value="Sala.Capacidad" class="form-control" />
                    <ValidationMessage For="() => Sala.Capacidad" class="text-danger" />
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </EditForm>
        </div>
    </div>
}

<div class="mt-3">
    <a href="/salas">Volver al listado</a>
</div>

@code {
    [Parameter]
    public int IdSala { get; set; }

    private Sala? Sala { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Sala = await SalaService.GetByIdAsync(IdSala);
        if (Sala is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task ActualizarSala()
    {
        if (Sala is not null)
        {
            await SalaService.UpdateAsync(Sala);
            NavigationManager.NavigateTo("/salas");
        }
    }
}