@page "/salas"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using WebCinemax.Models
@using WebCinemax.Models
@implements IAsyncDisposable
@inject IDbContextFactory<WebCinemax.Models.CineDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="salas/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Salas">
    <PropertyColumn Property="sala => sala.Nombre" />
    <PropertyColumn Property="sala => sala.Capacidad" />

    <TemplateColumn Context="sala">
        <a href="@($"salas/edit?idsala={sala.IdSala}")">Edit</a> |
        <a href="@($"salas/details?idsala={sala.IdSala}")">Details</a> |
        <a href="@($"salas/delete?idsala={sala.IdSala}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private CineDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
