@page "/reservas/edit"
@using Microsoft.EntityFrameworkCore
@using WebCinemax.Models
@inject IDbContextFactory<WebCinemax.Models.CineDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Reserva</h2>
<hr />
@if (Reserva is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Reserva" OnValidSubmit="UpdateReserva" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Reserva.IdReserva" value="@Reserva.IdReserva" />
                <div class="mb-3">
                    <label for="fechareserva" class="form-label">FechaReserva:</label>
                    <InputDate id="fechareserva" @bind-Value="Reserva.FechaReserva" class="form-control" />
                    <ValidationMessage For="() => Reserva.FechaReserva" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="confirmada" class="form-label">Confirmada:</label>
                    <InputCheckbox id="confirmada" @bind-Value="Reserva.Confirmada" class="form-check-input" />
                    <ValidationMessage For="() => Reserva.Confirmada" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="idfuncion" class="form-label">IdFuncion:</label>
                    <InputNumber id="idfuncion" @bind-Value="Reserva.IdFuncion" class="form-control" />
                    <ValidationMessage For="() => Reserva.IdFuncion" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/reservas">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int IdReserva { get; set; }

    [SupplyParameterFromForm]
    private Reserva? Reserva { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Reserva ??= await context.Reservas.FirstOrDefaultAsync(m => m.IdReserva == IdReserva);

        if (Reserva is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateReserva()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Reserva!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ReservaExists(Reserva!.IdReserva))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/reservas");
    }

    private bool ReservaExists(int idreserva)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Reservas.Any(e => e.IdReserva == idreserva);
    }
}
