@page "/butacas/edit"
@using Microsoft.EntityFrameworkCore
@using WebCinemax.Models
@inject IDbContextFactory<WebCinemax.Models.CineDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Butaca</h2>
<hr />
@if (Butaca is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Butaca" OnValidSubmit="UpdateButaca" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Butaca.IdButaca" value="@Butaca.IdButaca" />
                <div class="mb-3">
                    <label for="numero" class="form-label">Numero:</label>
                    <InputNumber id="numero" @bind-Value="Butaca.Numero" class="form-control" />
                    <ValidationMessage For="() => Butaca.Numero" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="fila" class="form-label">Fila:</label>
                    <InputText id="fila" @bind-Value="Butaca.Fila" class="form-control" />
                    <ValidationMessage For="() => Butaca.Fila" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="esvip" class="form-label">EsVip:</label>
                    <InputCheckbox id="esvip" @bind-Value="Butaca.EsVip" class="form-check-input" />
                    <ValidationMessage For="() => Butaca.EsVip" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="esaccesible" class="form-label">EsAccesible:</label>
                    <InputCheckbox id="esaccesible" @bind-Value="Butaca.EsAccesible" class="form-check-input" />
                    <ValidationMessage For="() => Butaca.EsAccesible" class="text-danger" />
                </div>

                <div class="mb-3">
                    <label for="sala" class="form-label">Sala:</label>
                    <InputSelect id="sala" @bind-Value="Butaca.IdSala" class="form-select">
                        <option value="">-- Seleccione una sala --</option>
                        @foreach (var sala in Salas)
                        {
                            <option value="@sala.IdSala">@sala.Nombre</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Butaca.IdSala" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/butacas">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int IdButaca { get; set; }

    [SupplyParameterFromForm]
    private Butaca? Butaca { get; set; }
    private List<Sala> Salas = new();

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Butaca ??= await context.Butacas.FirstOrDefaultAsync(m => m.IdButaca == IdButaca);
        Salas = await context.Salas.ToListAsync();

        Butaca ??= await context.Butacas
            .Include(f => f.IdSalaNavigation)
            .FirstOrDefaultAsync(f => f.IdButaca == IdButaca);

        if (Butaca is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateButaca()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Butaca!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ButacaExists(Butaca!.IdButaca))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/butacas");
    }

    private bool ButacaExists(int idbutaca)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Butacas.Any(e => e.IdButaca == idbutaca);
    }
}
