@page "/logout"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@inject NavigationManager Navigation
@inject WebCinemax.Services.CustomAuthenticationStateProvider AuthStateProvider

<h3>Logout</h3>

<div class="row">
    <div class="col-12">
        <div class="card mt-4">
            <div class="card-body text-center">
                <img src="images/logout.png" style="max-height:5rem" />
                <div class="mt-3">
                    <span class="text-danger fw-bolder">Sesión cerrada de manera exitosa.</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Cierra la sesión del usuario
        await AuthStateProvider.SignOutAsync();

        // Espera un pequeño retardo para que se vea el mensaje
        await Task.Delay(1500);

        // Redirige al login
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}